.login-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.login-image{
    width: 960px;
    
    height: 905px;
    opacity: 1;
    margin-top: 0px;
    margin-left: 0px;
}

.right {
    flex:1;
    background-color: #fff;
    display: flex;
    flex-direction: column;

}

.navbar{
    display: flex;
    flex-direction: row;
    position: relative;
}
.icon-image{
    width: 50px;
    height: 50px;
   /* margin-left: 696px;*/
    margin-top: 48px;   
    position:absolute;
    left: 696px; 
}
.my-work1 {
    font-weight: bold;
    font-size: 24px;
    margin-top: 59px;
    width: 122px;
    height: 29px;
    position: absolute;
    left: 760px;
    letter-spacing: 0.05px;
    color: #000000;
    opacity: 1;
}
.login-form{
    display: flex;
    flex-direction: column;
    
}
.heading{
    font-size: 48px;
    color: #000000;
    position: absolute;
    left: 1168px;
    margin-top: 314px;
    width: 128px;
    height: 59px;
    text-align: left;
    font: normal normal 600 48px/59px Inter;
    letter-spacing: 0px;
    opacity: 1;
}

.email-label {
    position: absolute;
    left: 1176px;
    top: 423px;
    width: 43px;
    height: 17px;
    text-align: left;
    font: normal normal medium 14px/17px Inter;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  .password-label {
    position: absolute;
    left: 1176px;
    top: 554px;
    width: 43px;
    height: 17px;
    padding-left: 8px;
    text-align: left;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    font-family: Inter;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  .email-input{
    position: absolute;
    left: 1168px;
    top: 456px;
    width: 535px;
    height: 70px;
    font-size: 16px;
    padding-left: 16px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    opacity: 1;
  }
  .password-input{
    position: absolute;
    left: 1168px;
    top: 579px;
    width: 535px;
    height: 70px;
    font-size: 16px;
    padding-left: 16px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    opacity: 1;
  }

  input::placeholder {
    width: 100px;
    height: 17px;
    padding-left: 8px;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  .login-form button {
    position: absolute;
    left: 1168px;
    top: 699px;
    width: 535px;
    height: 68px;
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    letter-spacing: 0.03px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
  }

  


